  nextra-nav-container-blur {
    display: none;
  }
 .nextra-nav-container nav {
    background: #000;
  }

  .nextra-hamburger {
      color: #fff;
  }
  
  :is([dir=ltr] .ltr\:before\:nx-left-0):before {
    display: none;
  }